!!!
html
  head
    title Paul Jensen
    link(rel="stylesheet", type="text/css", href="/css/main-f64d6db605d22eb4ad03c43d75f52ca1.css")
  body
    .container
      #header
        #myPicture
      #content 
        .row
          .span16.article.center
            h1 404
            p Sorry, we couldn't find that