doctype html
html
  head
    title Paul Jensen
    link(rel="stylesheet", type="text/css", href="/css/main-f64d6db605d22eb4ad03c43d75f52ca1.css")
    link(rel="stylesheet", type="text/css", href="/css/twilight.css")
    script(type="text/javascript", src="/javascripts/highlight.pack.js")
    script(type="text/javascript")
      hljs.initHighlightingOnLoad();
  body
    .container
      #header
        #myPicture
      #content 
        .row
          .span10.article
            != post
          .span4.offset2
            h2 About
            p My name is Paul. I'm a Ruby on Rails and Node.js developer.
            p I'm the lead developer of <a href="http://socketstream.com" alt="SocketStream web framework">SocketStream</a>.
            p I'm also the creator of <a href="https://dashku.com" alt="Dashku web application">Dashku</a>.
            h2 Posts
            ul#posts
              - for(post in posts)
                li
                  a(href="/posts/"+posts[post].split(".")[0].replace(/_/gi,"/"))= posts[post].split(".")[0].split("_")[3].replace(/-/gi," ")
            h2 Contact
            ul#accounts
              li#github <a href="https://github.com/paulbjensen" alt="Paul's GitHub account">GitHub</a>
              li#twitter <a href="https://twitter.com/paulbjensen" alt="Paul's Twitter account">Twitter</a>
              li#email <a href="mailto://paulbjensen@gmail.com" alt="Paul's email address">Email</a>
      #footer