@import bootstrap

#header 
  margin 20px 0px 50px

  #myPicture
    background-image url('/images/me_but_better.jpg')
    width 80px
    height 80px
    border-radius 100px
    border solid 2px white
    -webkit-box-shadow 0px 0px 8px #333333
    float left

  h1
    float left
    margin 25px

#content
  margin-top 50px
  clear both

#education h2, #employment h2, #skills h2, #hobbies h2, #references h2
  margin 20px 0px 10px

#employment

  .description
    margin-top 10px

  .description li
    line-height 1.5em

  .timeline
    font-style italic 

.center
  text-align center

.school, .university
  margin 10px 0px

#achievements 
  
  h2
    margin 20px 0px 10px

  ul
    list-style-type none
    margin 0
    padding 0

    li
      line-height 1.5em

  .year, .description
    display inline

  .description
    margin-left 50px

#references
  margin-bottom 100px

  .name
    font-weight bold
    margin-bottom 10px
    display block

  .email
    margin-top 10px

  .relation
    margin-top 10px