@import bootstrap


body 
  background-color #F3F2E5
  color #5C4D36
  //  font-family 'Open Sans'

.center
  text-align center

p, ul
  font-size 11pt
  line-height 1.5em

li
  color #5C4D36
  line-height 1.5em

a
  color #B1751B

h1, h2, h3
  color #726550
  line-height 1.5em

h2
  margin-top 20px
  margin-bottom 10px

img
  border solid 10px white
  -webkit-box-shadow 5px 5px 8px #888
  margin 20px 10px

ul#posts li
  list-style-type square

li#github
  list-style-image: url('/images/github.png')

li#twitter
  list-style-image: url('/images/twitter.png')

li#email
  list-style-image: url('/images/email.png')


// Header

#header 
  margin 20px 0px 50px

  #myPicture
    background-image url('/images/me_but_better.jpg')
    width 80px
    height 80px
    border-radius 100px
    border solid 2px white
    -webkit-box-shadow 0px 0px 8px #333333

.article
  margin-bottom 50px

blockquote
  margin 20px 0px
  border-left-color: #888
  line-height 2em