body
  margin 0px
  padding 0px
  font-family Domine, sans-serif
  color #292C38

#container
  margin 0 auto
  position relative
  width 960px
  margin-top 50px

  h1
    font-weight 800
    font-size 36pt

  p
    font-size 16pt

